<!DOCTYPE html>
<html lang="en" ng-app="AetherJobApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AetherJobApp</title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <!-- jQuery (must load first) -->
    <script src="~/lib/jquery-3.7.1.min.js"></script>

    <!-- AngularJS & dependencies -->
    <script src="~/lib/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <!-- Main app module -->
    <script src="~/angularjs/app/app.js"></script>

    <!-- Factories -->
    <script src="~/angularjs/factory/careerfactory.js"></script>

    <!-- Controllers -->
    <script src="~/angularjs/controller/careercontroller.js"></script>
    <script src="~/angularjs/controller/layoutController.js"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" ng-controller="Layout as vm">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">AetherJobApp</a>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item" ng-if="vm.username">
                        <span class="navbar-text me-2">Welcome, {{vm.username}}</span>
                        <button class="btn btn-danger btn-sm" ng-click="vm.logout()">
                            <i class="fa fa-sign-out-alt"></i>
                        </button>
                    </li>
                    <li class="nav-item" ng-if="!vm.username">
                        <a href="/Home/Login" class="btn btn-primary btn-sm">
                            <i class="fa fa-sign-in-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
