@{
	Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/AetherJobApp.styles.css" asp-append-version="true" />
<!-- AngularJS CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>

<script src="~/angularjs/app/app.js"></script>
<script src="~/angularjs/factory/loginfactory.js"></script>
<script src="~/angularjs/controller/logincontroller.js"></script>
<p></p>

<div class="container mt-5" ng-app="AetherJobApp" ng-controller="login as vm" ng-init="vm.init()">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded">
                <div class="card-header bg-primary text-white text-center">
                    <h3 class="mb-0">🔑 Aether Login</h3>
                </div>
                <div class="card-body p-4">
                    <div class="form-group mb-3">
                        <label class="fw-bold">User Name</label>
                        <input type="text" ng-model="vm.objLogin.username" class="form-control" placeholder="Enter username" />
                    </div>
                    <div class="form-group mb-4">
                        <label class="fw-bold">Password</label>
                        <input type="password" ng-model="vm.objLogin.password" class="form-control" placeholder="Enter password" />
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="submit" ng-click="vm.login()" class="btn btn-success btn-lg px-4">
                            <i class="bi bi-box-arrow-in-right"></i> Login
                        </button>
                        <div>
                            <a asp-action="Register" asp-controller="Home" class="btn btn-outline-primary me-2">
                                <i class="bi bi-person-plus"></i> Create Account
                            </a>
                            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">
                                <i class="bi bi-person"></i> As Guest
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>