@{
	Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/AetherJobApp.styles.css" asp-append-version="true" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>

<script src="~/angularjs/app/app.js"></script>
<script src="~/angularjs/factory/registerfactory.js"></script>
<script src="~/angularjs/controller/registercontroller.js"></script>
<div ng-app="AetherJobApp" class="container mt-5" ng-controller="Register as vm" ng-init="vm.init()">
	<div ng-show="vm.isLoading"
		 style="
        position: fixed; top: 0; left: 0; width: 100%; height: 100%;
        background: rgba(0,0,0,0.3); z-index: 9999;
        display: flex; align-items: center; justify-content: center;">
		<i class="fa-solid fa-spinner fa-spin" style="font-size:50px; color:white;"></i>
	</div>
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card shadow-lg border-0 rounded">
				<div class="card-header bg-success text-white text-center">
					<h3 class="mb-0">📝 Aether Register</h3>
				</div>
				<div class="card-body p-4">
					<div class="row form-group mb-3">
						<label class="fw-bold col-md-3">Full Name</label>
						<div class="col-md-8">
							<input type="text" maxlength="50" ng-model="vm.objRegister.fullName"
								   class="form-control" placeholder="Enter your full name" />
						</div>
					</div>
					<div class="row form-group mb-3">
						<label class="fw-bold col-md-3">Email</label>
						<div class="col-md-8">
							<input type="email" maxlength="50" ng-model="vm.objRegister.email"
								   class="form-control" placeholder="Enter your email" />
						</div>
					</div>
					<div class="row form-group mb-3">
						<label class="fw-bold col-md-3">Mobile No</label>
						<div class="col-md-8">
							<input type="text" maxlength="13" ng-model="vm.objRegister.mobileNo"
								   class="form-control" placeholder="Enter your mobile number" />
						</div>
					</div>
					<div class="row form-group mb-3">
						<label class="fw-bold col-md-3">User Name</label>
						<div class="col-md-8">
							<input type="text" maxlength="50" ng-model="vm.objRegister.username"
								   class="form-control" placeholder="Choose a username" />
						</div>
					</div>
					<div class="row form-group mb-3">
						<label class="fw-bold col-md-3">Password</label>
						<div class="col-md-8">
							<input type="{{vm.showPassword ? 'text' : 'password'}}"
								   maxlength="50" ng-model="vm.objRegister.password"
								   class="form-control" placeholder="Choose a password" />
							<input type="checkbox" class="form-check-input" ng-model="vm.showPassword">
							<label class="form-check-label">Show Password</label>

						</div>
					</div>
					<div class="row form-group mb-4">
						<label class="fw-bold col-md-3">Country</label>
						<div class="col-md-8">
							<select ng-model="vm.objRegister.refId_CountryMaster"
									ng-options="c.id as c.countryName for c in vm.objcountryList"
									ng-change="vm.onCountryChange()"
									class="form-control">
								<option value="">Select</option>
							</select>
						</div>
					</div>

					<div class="row form-group mb-4">
						<label class="fw-bold col-md-3">State</label>
						<div class="col-md-8">
							<select ng-model="vm.objRegister.refId_StateMaster"
									ng-options="s.id as s.stateName for s in vm.objStateList"
									ng-change="vm.onStateChange()"
									class="form-control">
								<option value="">Select</option>
							</select>
						</div>
					</div>

					<div class="row form-group mb-4">
						<label class="fw-bold col-md-3">City</label>
						<div class="col-md-8">
							<select ng-model="vm.objRegister.refId_CityMaster"
									ng-options="city.id as city.cityName for city in vm.objCityList"
									class="form-control">
								<option value="">Select</option>
							</select>
						</div>
					</div>

					<div class="d-flex justify-content-between align-items-center">
						<button type="submit" ng-click="vm.register()" class="btn btn-success btn-lg px-4">
							<i class="bi bi-person-check"></i> Register
						</button>
						<a asp-action="Login" asp-controller="Home" class="btn btn-outline-secondary">
							<i class="bi bi-arrow-left-circle"></i> Back
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>