
<script src="~/angularjs/factory/usermasterfactory.js"></script>
<script src="~/angularjs/controller/usermastercontroller.js"></script>
<div class="container" ng-controller="User as vm" ng-init="vm.loadUsers()">
	
	<h3>User List</h3>
	<div class="row col-md-12">
		@* <table class="table table-hover table-bordered align-middle shadow-sm rounded-3"> *@
		<table id="tblUsers" class="table table-striped table-hover table-bordered align-middle shadow-sm rounded-3">
			<thead class="table-dark">
				<tr>
					<th>Role</th>
					<th>Full Name</th>
					<th>User Name</th>
					<th>Email</th>
					<th>Mobile No</th>
					<th>IsActive</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="e in vm.listUsers">
					<td>{{e.role}}</td>
					<td>{{e.fullName}}</td>
					<td>{{e.username}}</td>
					<td>{{e.email}}</td>
					<td>{{e.mobileNo}}</td>
					<td>
						<span class="badge"
							  ng-class="{'bg-success': e.isActive, 'bg-danger': !e.isActive}"
							  style="cursor:pointer"
							  ng-click="vm.changeStatus(e.id,e.isActive)">
							{{ e.isActive ? 'Active' : 'Inactive' }}
						</span>
					</td>

				</tr>
				<tr ng-if="vm.listUsers.length === 0">
					<td colspan="6" style="text-align:center; color:red;">
						No Records Found
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>